.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media print {
	.no-print {
		display: none;
	}

	.column-to-hide {
        display: none;
    }
	
	body {
		
		width: 100%;
		max-width: 100%;
		overflow: hidden !important;
		transform-origin: top left;
	}

	/* Container for tables */
	.table-container {
		
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	/* Individual table wrapper */
	.table-wrapper {
		flex: 1;
		font-size: 0.8em;
		max-width: 33%; /* slightly less than half to account for any margins or padding */
		box-sizing: border-box;
		page-break-inside: avoid ; /* attempt to avoid breaking tables across pages */
	}

	.table-wrapper-all {
		flex: 1;
		max-width: 30%; /* slightly less than half to account for any margins or padding */
		box-sizing: border-box;
		page-break-inside: avoid ; /* attempt to avoid breaking tables across pages */
	}

	.table-container-all {
		display: flex;
		font-size: 0.4em;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	th,
	td {
		padding: 0px 0px ; /* Adjust as needed */
	}
}
